<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% if title %}{{ title }} - {% endif %}GlassMind</title>
    <script type="text/javascript" src="{{ url_for('send_js', path='jquery-3.3.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('send_css', path='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('send_css', path='Roboto.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script type="text/javascript" src="{{ url_for('send_js', path='Notify.js') }}"></script>
    {% block head %}
    {% endblock %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        Notify("{{ message }}");
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block documentready %}
            {% endblock %}
        });
    </script>
</head>
<body class="{% if is_whitemode == true %}whitemode{% endif %}{% for body_class in body_classes %} {{ body_class }}{% endfor %}{% block custom_body_classes %}{% endblock %}">
<div class="navbar">
    <div class="nav-item nav-title"><a>GlassMind</a></div>
    <div class="nav-item active"><a>Home</a></div>
    <div class="nav-item"><a>Explore</a></div>
    <div class="nav-item"><a>About</a></div>
    {% if current_user.is_anonymous %}
    <div class="nav-item"><a href="{{ url_for('login') }}">Login</a></div>
    {% else %}
    <div class="nav-item">{{ current_user.username }}</div>
    <div class="nav-item"><a href="{{ url_for('logout') }}">Logout</a></div>
    {% endif %}
</div>
<div id="notifications"></div>
{% block content %}
{% endblock %}
</body>
</html>