<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% if title %}{{ title }} - {% endif %}GlassMind</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/Roboto.css">
    <link rel="stylesheet" href="/static/css/onepage-scroll.css">
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.onepage-scroll.js"></script>
    <script>
        $(document).ready(function () {
            $(".scrollable").onepage_scroll({
                sectionContainer: "section",
                responsiveFallback: 600
            });
        });

    </script>
</head>
<body class="{% if is_whitemode == true %}whitemode{% endif %}">
<div class="navbar">
    <div class="nav-item nav-title"><a>GlassMind</a></div>
    <div class="nav-item active"><a>Home</a></div>
    <div class="nav-item"><a>Explore</a></div>
    <div class="nav-item"><a>About</a></div>
</div>
<div class="scrollable">
    <section class="nn-cover">
        <p align="center">Testing Neural Network</p>
    </section>
    <section class="nn-content">
        <h1>training&trying here</h1>
    </section>
</div>
</body>
</html>